
body {
    background-image:url(../images/bk2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.display-4 {
    text-align: center;
    padding: 60px;
    background-color:grey;
    color: white;
    font-size: 70px;
    font-weight: bold;
    background-image: url(../images/cf4.jpeg);
    margin: 10px;
}

#directions-text,
#introDirections-text {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#wins-text, 
#display-text, 
#guessesleft-text, 
#guessedletters-text {
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

